.author {
	font-weight: bold;
	display: block;
}

.conversations {
	font-size: 14px;
}

#search-console {
	display: none;
}

.tut {
	zoom: 50%;
	width: 500px;
}

body {
	padding: 15px;
	color: #212121;
}

.your {
	text-align: right;
}

.their {
	text-align: left;
}

.message {
	background-color: #d7e1f2;
	padding: 10px;
	border-radius: 2px;
}

#message-display {
	display: block;
	height: 75%;
	overflow: auto;
	outline: 1px solid;
	outline-color: #212121;
}

header {
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#soulsearcher {
	width: 200px;
	display: block;
	margin-left: 0;
	margin-right: auto;
	margin-bottom: auto;
	margin-right: auto;
}