.author {
	font-weight: bold;
	display: block;
}

#search-console {
	display: none;
}

.tut {
	zoom: 50%;
	width: 300px;
}

body {
	padding: 15px;
	color: #212121;
}

.your {
	text-align: right;
}

.their {
	text-align: left;
}

.message {
	background-color: #d7e1f2;
	padding: 10px;
	border-radius: 2px;
}

#message-display {
	display: block;
	margin: 10px;
	height: 75%;
	overflow: auto;
	padding: 0 20%;
	outline: 1px solid black;
}